hr {
    border: 0;
    height: .5px;
    margin: 36px 0;
    background-color: #eee;
}

.theme--dark hr {
    background-color: #464646;
}

header.header {
    position: absolute;
    width: inherit;
}

div.post {
    margin-top: 100px;
}

.post__content {
    text-align: justify;
}
